#home p {
  margin: 1em 0 1em;
}
#home hr {
  margin-bottom: 20px;
  border: none;
  height: 1px;
  background-color: color-border;
}
#home #latest {
  display: flex;
  flex-wrap: wrap;
}
#home #latest .component {
  flex: 0 100%;
}
@media mq-normal {
  #home #latest .component {
    flex: 0 50%;
  }
}
#home #latest .component hr {
  margin-bottom: 20px;
  border: none;
  height: 1px;
  background-color: color-border;
}
@media mq-normal {
  #home #latest .component hr {
    display: none;
  }
}
ul {
  margin: 1em 0 1em;
}
ul li {
  background-color: #808080;
  margin: 10px 5px;
  padding: 5px;
  list-style: none;
}
ul li a {
  color: color-link;
}
ul li a:hover {
  text-decoration: none;
}
ul li a span:hover {
  text-decoration: underline;
}
ul li time {
  color: color-orange;
  font-size: 0.9em;
}
ul .tag {
  color: color-orange;
  font-size: 0.9em;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #333;
  padding: 0 5px;
}
