#home p {
  margin: 1em 0 1em;
}
#latest {
  display: flex;
  flex-wrap: wrap;
}
#latest .component {
  flex: 0 50%;
}
@media mq-mobile {
  #latest .component {
    flex: 0 100%;
  }
}
ul {
  margin: 1em 0 1em;
}
ul li {
  list-style: circle;
}
ul li a {
  color: color-link;
}
ul li a:hover {
  text-decoration: none;
}
ul li a span:hover {
  text-decoration: underline;
}
ul li time {
  color: color-orange;
  font-size: 0.9em;
}
ul .tag {
  color: color-orange;
  font-size: 0.9em;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #333;
  padding: 0 5px;
}
