@font-face {
  font-family: 'icomoon';
  src: url("/fonts/icomoon.eot?ya5ohw");
  src: url("/fonts/icomoon.eot?ya5ohw#iefix") format('embedded-opentype'), url("/fonts/icomoon.ttf?ya5ohw") format('truetype'), url("/fonts/icomoon.woff?ya5ohw") format('woff'), url("/fonts/icomoon.svg?ya5ohw#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icon-"],
[class*=" icon-"] {
/* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background: #111;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5em;
  font-weight: 400;
  font-size: 16px;
}
#srcds {
  margin-top: 20px;
}
.header {
  display: flex;
  align-items: center;
}
.header img {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  margin-right: 10px;
}
.copySection {
  margin-right: 20px;
  position: relative;
}
.copySection button {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
}
.copySection button:hover {
  cursor: pointer;
}
.copyInput {
  background: #111;
  color: #fff;
  height: 30px;
  width: 250px;
  padding: 0 60px 0 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 0;
}
.server {
  display: flex;
  justify-content: space-between;
  background-color: #222;
  margin: 20px 0 20px 45px;
  padding: 20px;
  height: 50px;
  border-radius: 3px;
  border-left: 5px solid #fff;
  box-shadow: 0 8px 6px -6px #000;
  position: relative;
}
.server.available {
  border-left: 5px solid #b2cb73;
}
.server.error {
  border-left: 5px solid #cb7386;
}
.server .error {
  color: #cb7386;
}
.server .detail {
  color: #aaa;
}
.server .right {
  display: flex;
  align-items: center;
}
.server .connect {
  height: 30px;
  border-radius: 2px;
  text-decoration: none;
  padding: 0 10px;
  line-height: 30px;
  border: 0;
  background: #73b2cb;
  color: #000;
}
.server .loading {
/* width: 200px; */
/* border: 1px solid pink; */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.icon-paste:before {
  content: "\e92d";
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  margin: 0 auto;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@-moz-keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-o-keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-moz-keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@-webkit-keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@-o-keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@-moz-keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
@-webkit-keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
@-o-keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
