html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
input,
button {
  margin: 0;
  padding: 0;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
html,
body,
#container {
  height: 100%;
}
body {
  color: #ddd;
  background: #1d1f21;
  font: 16px "Helvetica Neue", "Calibri Light", Roboto, sans-serif;
  line-height: 1.4em;
}
a {
  color: #258fb8;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.75em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.25em;
}
.outer {
  max-width: 900px;
  margin: 0 auto;
}
@media screen and (max-width: 479px) {
  .outer {
    margin: 0 6px;
  }
}
.clear {
  clear: both;
}
#container {
  position: relative;
}
#wrap {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: #1d1f21;
}
#home p {
  margin: 1em 0 1em;
}
#latest {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
#latest .component {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 50%;
  -ms-flex: 0 50%;
  flex: 0 50%;
}
@media screen and (max-width: 479px) {
  #latest .component {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 0 100%;
    -ms-flex: 0 100%;
    flex: 0 100%;
  }
}
ul {
  margin: 1em 0 1em;
}
ul li {
  list-style: circle;
}
ul li a {
  color: #258fb8;
}
ul li a:hover {
  text-decoration: none;
}
ul li a span:hover {
  text-decoration: underline;
}
ul li time {
  color: #f90;
  font-size: 0.9em;
}
ul .tag {
  color: #f90;
  font-size: 0.9em;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #333;
  padding: 0 5px;
}
.article-inner,
.archive-article-inner {
  background-color: #1d1f21;
}
.article-entry strong {
  font-weight: bold;
}
.article-entry em,
.article-entry cite {
  font-style: italic;
}
.article-entry ul,
.article-entry ol,
.article-entry dl {
  margin: 0 20px;
  line-height: 1.4em;
}
.article-entry ul ul,
.article-entry ol ul,
.article-entry ul ol,
.article-entry ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
.article-entry ul {
  list-style: circle;
}
.article-entry ol {
  list-style: decimal;
}
.article-entry dt {
  font-weight: bold;
}
#header {
  height: 50px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}
#header-outer {
  height: 100%;
}
#header-inner {
  height: 100%;
}
#main-nav {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 100%;
}
#main-nav-links {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  height: 100%;
}
@media screen and (max-width: 479px) {
  #main-nav-social {
    display: none;
  }
}
.main-nav-link-selected {
  color: #ddd;
  font-size: 1.2em;
  text-decoration: none;
  margin-right: 20px;
}
.main-nav-link-selected:hover {
  text-decoration: underline;
}
.main-nav-link {
  height: 100%;
  padding: 0 15px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  font-size: 1.2em;
  color: #ddd;
}
.main-nav-link:before {
  content: "/";
}
.main-nav-link:first-of-type {
  padding-left: 0;
}
.main-nav-link:first-of-type:before {
  content: "$";
}
.main-nav-link:hover {
  background-color: color-backround-alt;
}
.main-nav-link-selected {
  color: #aaa;
}
.main-nav-link-selected:hover {
  text-decoration: none;
}
.main-nav-icon {
  color: #ddd;
  text-decoration: none;
  margin-left: 10px;
  font-size: 1.5em;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.main-nav-icon.stack-overflow {
  color: #f48024;
}
.main-nav-icon.linkedin {
  color: #00aced;
}
.main-nav-icon.github {
  color: #6e5494;
}
.main-nav-icon:hover {
  text-decoration: none;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}
.article {
  margin: 0px;
}
.article-inner {
  overflow: hidden;
  padding-bottom: 1.6em;
}
.article-date {
  float: left;
}
.article-category {
  float: left;
  line-height: 1em;
  color: #ccc;
  margin-left: 8px;
}
.article-category-link {
  margin: 0 12px 1em;
}
.article-title {
  text-decoration: none;
  line-height: 1.4em;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
}
a.article-title:hover {
  text-decoration: underline;
}
.article-entry {
  color: #ddd;
}
.article-entry p,
.article-entry table {
  line-height: 1.4em;
  margin: 1.4em 0;
}
.article-entry a {
  color: #258fb8;
  text-decoration: none;
}
.article-entry a:hover {
  text-decoration: underline;
}
.article-entry ul,
.article-entry ol,
.article-entry dl {
  margin-top: 1.4em;
  margin-bottom: 1.4em;
}
.article-entry img,
.article-entry video {
  height: 100%;
  display: block;
}
.article-entry iframe {
  border: none;
}
.article-entry table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.article-entry th {
  border-bottom: 1px solid #ddd;
  padding: 10px 20px;
  font-weight: bold;
}
.article-entry td {
  border-bottom: 1px solid #ddd;
  padding: 10px 20px;
}
.article-entry tr {
  padding: 0 10px;
}
.article-entry tbody tr:nth-child(odd) {
  background-color: #2d2d2d;
}
.article-entry blockquote {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1.4em;
  margin: 1.4em 20px;
  text-align: center;
}
.article-entry blockquote footer {
  font-size: 16px;
  margin: 1.4em 0;
  font-family: "Helvetica Neue", "Calibri Light", Roboto, sans-serif;
}
.article-entry blockquote footer cite:before {
  content: "—";
  padding: 0 0.5em;
}
.article-entry hr {
  border: none;
  height: 1px;
  color: #ddd;
  background-color: #ddd;
}
.article-entry .caption {
  display: block;
  font-size: 0.9em;
  margin-top: 0.5em;
  position: relative;
  text-align: center;
}
.article-more-link a {
  display: inline-block;
  line-height: 1em;
  padding: 6px 15px;
  border-radius: 15px;
  background: #1d1f21;
  text-shadow: 0 1px #fff;
  text-decoration: none;
}
.article-more-link a:hover {
  background: #258fb8;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px #1e7293;
}
.article-footer {
  border-top: 1px solid #ddd;
  padding-top: 1.4em;
}
.article-tag-list-item {
  float: left;
  margin-right: 10px;
}
.article-tag-list-link:before {
  content: "#";
}
#article-nav {
  margin-bottom: 20px;
}
.article-nav-link-wrap {
  text-decoration: none;
  margin-top: 0px;
  text-align: center;
  display: block;
}
.article-nav-link-wrap:hover {
  color: #ddd;
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  .article-nav-link-wrap {
    width: 50%;
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) {
  #article-nav-newer {
    float: right;
    text-align: right;
  }
}
@media screen and (min-width: 768px) {
  #article-nav-older {
    float: left;
    text-align: left;
  }
}
.article-nav-title {
  line-height: 1.4em;
  margin-top: 0.5em;
}
.article-gallery {
  background: #000;
  position: relative;
}
.article-gallery-photos {
  position: relative;
  overflow: hidden;
}
.article-gallery-img {
  display: none;
  max-width: 100%;
}
.article-gallery-img:first-child {
  display: block;
}
.article-gallery-img.loaded {
  position: absolute;
  display: block;
}
.article-gallery-img img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.archives-wrap {
  margin: 0px 0;
}
.archives {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.archive-year {
  text-transform: uppercase;
}
.archive-article {
  width: 100%;
}
.archive-article-inner {
  margin-bottom: 15px;
}
.archive-article-title {
  font-size: 0.8em;
  text-decoration: none;
  color: #ddd;
}
.archive-article-title:hover {
  text-decoration: underline;
}
.archive-article-footer {
  margin-top: 1em;
}
.archive-article-date {
  color: #f90;
  text-decoration: none;
  display: block;
}
#page-nav {
  margin: 0px auto;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  text-align: center;
  color: color-grey;
  overflow: hidden;
}
#page-nav a,
#page-nav span {
  padding: 10px 20px;
  height: 2ex;
}
#page-nav a {
  color: color-grey;
  text-decoration: none;
}
#page-nav a:hover {
  background: color-grey;
  color: #fff;
}
#page-nav .prev {
  float: left;
}
#page-nav .next {
  float: right;
}
#page-nav .page-number {
  display: inline-block;
}
@media screen and (max-width: 479px) {
  #page-nav .page-number {
    display: none;
  }
}
#page-nav .current {
  color: #ddd;
  font-weight: bold;
}
#page-nav .space {
  color: #ddd;
}
#footer {
  background: color-footer-background;
  padding: 50px 0;
  border-top: 1px solid #ddd;
}
#footer a {
  color: #258fb8;
  text-decoration: none;
}
#footer a:hover {
  text-decoration: underline;
}
#footer-info {
  line-height: 1.4em;
  font-size: 1em;
}
.article-entry pre,
.article-entry .highlight {
  background: #2d2d2d;
  margin: 1.6em 0;
  padding: 15px 20px;
  overflow: auto;
  color: #ccc;
}
.article-entry .highlight .gutter pre {
  color: #666;
  font-size: 1em;
}
.article-entry pre,
.article-entry code {
  font-family: Consolas, Monaco, Menlo, Consolas, monospace;
}
.article-entry code {
  background: #2d2d2d;
  padding: 0 0.3em;
}
.article-entry pre code {
  background: none;
  text-shadow: none;
  padding: 0;
}
.article-entry .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.article-entry .highlight table {
  margin: 0;
  width: auto;
}
.article-entry .highlight td {
  border: none;
  padding: 0;
}
.article-entry .highlight figcaption {
  color: #999;
  line-height: 1em;
  margin-bottom: 1em;
}
.article-entry .highlight figcaption a {
  float: right;
}
.article-entry .highlight .gutter pre {
  text-align: right;
  padding-right: 20px;
}
.article-entry .highlight .line {
  height: 22.4px;
}
.article-entry .highlight .line.marked {
  background: #515151;
}
pre .comment {
  color: #999;
}
pre .title {
  color: #69c;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #f2777a;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f99157;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #9c9;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #9c9;
}
pre .css .hexcolor {
  color: #6cc;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #69c;
}
pre .keyword,
pre .javascript .function {
  color: #c9c;
}
