body {
	background: #eee ;


}

.container {
	padding-top: 20px;
	padidng-bottom: 20px;
	position: relative;
	z-index: 100;
}

.center {
	text-align: center;
}

img {
	border: 1px solid black;
}

img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

a.col-lg-4 {
	text-decoration: none;
	color: #333;
}

a.col-lg-4:hover {
	text-decoration: none;
	color: #666;
}