.article
  margin: block-margin 

.article-inner
  @extend $block
  overflow: hidden

.article-meta
  clearfix()

.article-date
  float: left

.article-category
  float: left
  line-height: 1em
  color: #ccc
  margin-left: 8px

.article-category-link
  margin: 0 12px 1em

.article-title
  text-decoration: none
  font-size: 2em
  color: color-default
  line-height: line-height-title
  transition: color 0.2s
  a&:hover
    text-decoration: underline

.article-entry
  @extend $base-style
  clearfix()
  color: color-default
  padding: 0 article-padding article-padding article-padding
  p, table
    line-height: line-height
    margin: line-height 0
  h1, h2, h3, h4, h5, h6
    line-height: line-height-title
    margin: line-height-title 0
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline
  ul, ol, dl
    margin-top: line-height
    margin-bottom: line-height
  img, video
    height: 100%
    display: block
  iframe
    border: none
  table
    width: 100%
    border-collapse: collapse
    border-spacing: 0
  th
    border-bottom: 3px solid color-border
    padding-bottom: 0.5em
  td
    border-bottom: 1px solid color-border
    padding: 10px 0
  blockquote
    font-family: font-serif
    font-size: 1.4em
    margin: line-height 20px
    text-align: center
    footer
      font-size: font-size
      margin: line-height 0
      font-family: font-sans
      cite
        &:before
          content: "—"
          padding: 0 0.5em
  hr
    border: none 
    height: 1px
    color: color-default
    background-color: color-default

  .caption
    display: block
    font-size: 0.9em
    margin-top: 0.5em
    position: relative
    text-align: center

.article-more-link a
  display: inline-block
  line-height: 1em
  padding: 6px 15px
  border-radius: 15px
  background: color-background
  text-shadow: 0 1px #fff
  text-decoration: none
  &:hover
    background: color-link
    color: #fff
    text-decoration: none
    text-shadow: 0 1px darken(color-link, 20%)

.article-footer
  clearfix()
  line-height: line-height
  border-top: 1px solid color-border
  padding-top: line-height
  margin: 0 article-padding article-padding
  a
    text-decoration: none
    &:hover
      color: color-default

.article-tag-list-item
  float: left
  margin-right: 10px

.article-tag-list-link
  &:before
    content: "#"

#article-nav
  clearfix()
  position: relative
  margin-top: 20px;

.article-nav-link-wrap
  text-decoration: none
  box-sizing: border-box
  margin-top: block-margin
  text-align: center
  display: block
  &:hover
    color: color-default
    text-decoration: underline
  @media mq-normal
    width: 50%
    margin-top: 0

#article-nav-newer
  @media mq-normal
    float: right
    text-align: right

#article-nav-older
  @media mq-normal
    float: left
    text-align: left

.article-nav-title
  line-height: line-height
  margin-top: 0.5em

.article-gallery
  background: #000
  position: relative

.article-gallery-photos
  position: relative
  overflow: hidden

.article-gallery-img
  display: none
  max-width: 100%
  &:first-child
    display: block
  &.loaded
    position: absolute
    display: block
  img
    display: block
    max-width: 100%
    margin: 0 auto