#header
  height: banner-height
  border-bottom: 1px solid color-border
  margin-bottom: 20px
  overflow-x: hidden

#header-outer
  height: 100%

#header-inner
  height: 100%

#main-nav
  display: flex
  justify-content: space-between
  align-items: center
  height: 100%

#main-nav-links
  display: flex
  height: 100%

#main-nav-social
  display: none
  @media mq-normal
    display: block
    

$nav-link
  color: color-default
  font-size: 1.2em
  text-decoration: none
  margin-right: 20px
  &:hover
    text-decoration: underline

.main-nav-link
  height: 100%
  padding: 0 15px
  display: flex
  align-items: center
  font-size: 1.2em
  @media mq-tablet
    font-size 1em
  color: color-default
  &:before
    content: "/"
  &:first-of-type
    padding-left: 0
    &:before
      content: "$"
  &:hover
    background-color: color-backround-alt

.main-nav-link-selected
  @extend $nav-link
  color: #aaa
  &:hover
    text-decoration: none

.main-nav-icon
  color: color-default
  text-decoration: none
  margin-left: 10px
  font-size: 1.5em
  transition: all .2s ease-in-out
  &:hover
    color: white
    text-decoration: none
    