#header
  height: banner-height
  margin: 0 auto
  // border-bottom: 1px solid color-border
  background-color: darken(color-background, 50)
  margin-bottom: 20px
  overflow-x: hidden

#header-outer
  height: 100%

#header-inner
  height: 100%

#main-nav
  display: flex
  justify-content: space-between
  align-items: center
  height: 100%
  @media mq-mobile
    justify-content: center

#main-nav-links
  display: flex
  height: 100%

#main-nav-social
  display: block
  @media mq-mobile
    display: none
    
    
$nav-link
  color: color-default
  font-size: 1.2em
  text-decoration: none
  margin-right: 20px

.main-nav-link
  height: 100%
  padding: 0 15px
  display: flex
  align-items: center
  font-size: 1.2em
  padding: 0 10px
  color: color-default
  transition: color .2s ease

  text-decoration: none

  &.is-active
    text-decoration: underline
  
  &:before
    content: "~/"
  &:first-of-type
    padding-left: 0
    &:before
      content: "$"
  &:hover
    color: darken(color-default, 50)

.main-nav-icon
  color: color-default
  text-decoration: none
  margin-left: 10px
  font-size: 1.5em
  transition: color .2s ease
  &:hover
    color: darken(color-default, 50)
    text-decoration: none
    