#header
  height: banner-height
  border-bottom: 1px solid color-border
  margin-bottom: 20px

#header-outer
  height: 100%

#header-inner
  height: 100%

#subtitle-wrap
  margin-top: subtitle-size

#main-nav
  display: flex
  justify-content: space-between
  align-items: center
  height: 100%
  @media mq-mobile
    background-color: black

$nav-link
  color: #fff
  text-decoration: none
  margin-right: 20px
  &:hover
    text-decoration: underline

.main-nav-link
  @extend $nav-link

.main-nav-link-selected
  @extend $nav-link
  color: #aaa
  &:hover
    text-decoration: none

.main-nav-icon
  color: #fff
  text-decoration: none
  margin-left: 20px
  font-size: 30px
  &.twitter
    &:hover
      color: #4099FF
  &.linkedin
    &:hover
      color: #0077B5
  &.github
    &:hover
      color: #6e5494
