.servers
  border-radius: 5px
  background-color: #111
  width: 80%
  margin: 0 auto
  padding: 10px 20px

.server-row
  display: flex
  justify-content: space-between
  padding: 10px 0

  h3
    margin-top: 0
    color: color-gray

  img
    width: auto
    height: 120px

  li
    list-style-type: none