$block
  background-color: #1D1F21

$base-style
  strong
    font-weight: bold
  em, cite
    font-style: italic
  ul, ol, dl
    margin: 0 20px
    line-height: line-height
  ul, ol
    ul, ol
      margin-top: 0
      margin-bottom: 0
  ul
    list-style: circle
  ol
    list-style: decimal
  dt
    font-weight: bold