// Colors
color-default = #ddd
color-border = #ddd
color-orange = #FF9900
color-link = #258fb8
color-background = #1D1F21
color-background-alt = #2d2d2d

color-linkedin = #00aced
color-facebook = #3b5998
color-github = #6e5494
color-stackoverflow = #f48024
color-google = #dd4b39

// Fonts
font-sans = "Helvetica Neue", "Calibri Light", Roboto, sans-serif;
font-serif = Georgia, "Times New Roman", serif
font-mono = Consolas, Monaco, Menlo, Consolas, monospace
font-size = 16px
line-height = 1.4em

// Header
banner-height = 50px

// Layout
block-margin = 0px
article-padding = 20px
mobile-nav-width = 280px

// Media queries
mq-mobile = "screen and (max-width: 479px)"
mq-tablet = "screen and (min-width: 480px) and (max-width: 767px)"
mq-normal = "screen and (min-width: 768px)"