#home
    p
        margin: 1em 0 1em

    #latest
        display: flex

    .latest-component
        width: 50%
        
        ul
            margin: 1em 0 1em
        li
            list-style: circle
            a
                color: color-orange