#home
  p
    margin: 1em 0 1em

#latest
  display: flex

.latest-component
  width: 50%

ul
  margin: 1em 0 1em
  li
    list-style: circle
  a
    color: color-link 
    &:hover
      text-decoration: none
    span
      &:hover
        text-decoration: underline
    time
      padding-left: 1em
      color: color-orange
      font-size: .8em
      