.server {
    display: flex;
    justify-content: space-between;
    background-color: #222;
    margin: 20px 0;
    padding: 20px;
    height: 96px;
    border-radius: 3px;
    border-left: 5px solid white;
    box-shadow: 0 8px 6px -6px black;
    position: relative;
}

.server.available {
    border-left: 5px solid #b2cb73;
}

.server.error {
    border-left: 5px solid #cb7386;
}

.server .error {
    color: #cb7386;
}

.server .detail {
    color: #aaa;
}

.server .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.server .connect {
    border-radius: 2px;
    text-decoration: none;
    padding: 5px 10px;
    border: 0;
    background: #73b2cb;
    color: black;
}

.server .loading {
    /* width: 200px; */
    /* border: 1px solid pink; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    margin: 0 auto;
}

.lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(19px, 0);
    }
}