#servers
  
  margin-top: 20px

  .available
    color: color-available
  .warning
    color: color-warning
  .error
    color: color-error
  .pending
    color: white

  .server
    display: flex;
    justify-content: space-between;

    img 
      height: 150px