#servers
  
  margin-top: 20px

  .available
    color: color-available
  .warning
    color: color-warning
  .error
    color: color-error
  .pending
    color: white

  .server
    margin: 20px 0
    padding: 20px 20px
    display: flex;
    justify-content: space-between;
    border-radius: 2px;
    border-left: 4px color-available solid
    background-color: #2d2d2d

    .game
      width: 20px;
      height: 20px;

    .map
      display: block
      align-self: center
      height: 120px
      img
        width: auto
        max-width: 160px
        height: 100%