<ul>
    <% to = 0 %>
    <% if (count == -1) { count = page.posts.length } %>
    <% page.posts.each(function(post) { %>
    <% if (to < count) { %>
    <li>
        <a href="<%- url_for(post.path) %>">
        <span>
            <%- post.title %>
        </span>
        </a>
        <div>
        <time class="info">
            <%= date(post.date, 'MM-DD-YYYY') %>
        </time>
        <% post.tags.forEach(function (item) { %>
            <span class="tag"><%- item.name %></span>
        <% }); %>
        </div>
    </li>
    <% to++ %>
    <% } %>
    <% }) %>
    <li style="list-style: none;"> ... see more posts
        <a href="/archives">here</a>
    </li>
</ul>