<ul>
    <% if (count == -1) { count = page.posts.length } %>
    <% site.posts.sort("date", -1).limit(count).each(function(post) { %>
    <li>
        <a href="<%- url_for(post.path) %>">
        <span>
            <%- post.title %>
        </span>
        </a>
        <div>
        <time class="info">
            <%= date(post.date, 'MM-DD-YYYY') %>
        </time>
        <% post.tags.forEach(function (item) { %>
            <span class="tag"><%- item.name %></span>
        <% }); %>
        </div>
    </li>
    <% }); %>

    <% if (count != page.posts.length) { %>
    <li style="list-style: none;"> ... see more posts
        <a href="/archives">here</a>
    </li>
    <% } %>
</ul>