<div class="component">
<% to = 0 %>
<% if (count == -1) { count = page.posts.length } %>
<% page.posts.each(function(post) { %>
<% if (to < count) { %>
<a style="display: block;" href="<%- url_for(post.path) %>">
    <span>
        <%- post.title %>
    </span>
    <div>
    <time class="info">
        <%= date(post.date, 'MM-DD-YYYY') %>
    </time>
    <% post.tags.forEach(function (item) { %>
        <span class="tag"><%- item.name %></span>
    <% }); %>
    </div>
</a>
<% to++ %>
<% } %>
<% }) %>
</div>