<header id="header">
  <div id="header-outer" class="outer">
    <div id="header-inner" class="inner">
      <nav id="main-nav">
        <div>
          <% for (var i in theme.menu) { %>
              <a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>">/<%= i %></a>
          <% } %>
        </div>
        <div>
          <a class="main-nav-icon linkedin" href="https://www.linkedin.com/in/devanbuggay/">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          </a>
          <a class="main-nav-icon twitter" href="https://twitter.com/DevanBuggay">
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
          </a>
          <a class="main-nav-icon github" href="https://github.com/sbuggay">
            <i class="fa fa-github-square" aria-hidden="true"></i>
          </a>
        <div>
      </nav>
    </div>
  </div>
</header>