// http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
hide-text()
  text-indent: 100%
  white-space: nowrap
  overflow: hidden

avoid-column-break()
  vendor("column-break-inside", avoid, only: webkit)
  page-break-inside: avoid // for firefox
  overflow: hidden // fix for firefox
  break-inside: avoid-column
