<div id="home">
    <h2>About Me</h2>
    <p>Hello, I'm Devan Buggay. I currently work as a software engineer for Microsoft working with TypeScript, React/Redux, system tooling, and
        performance. Before that, I worked professionally on iOS apps and full stack .NET applications. I have nearly five years of industry experience and
        have been programming since 2005.</p>
    <p>I also run a few game servers (Counter-Strike mostly) that you can check out over on my <a href="/servers">servers</a> page.</p>
    <hr>
    <div id="latest">
        <div class="component">
            <a href="/archives">
                <h2>Latest posts</h2>
            </a>
            <%- partial('_partial/archive-list', {count: 5}) %>
        </div>
        <div class="component">
            <hr>
            <a href="/projects">
                <h2>Projects</h2>
            </a>
            <%- partial('_partial/project-list', {count: 5}) %>
        </div>
    </div>
    <hr>
    <h2>
        Contact
    </h2>
    <p>For inquiries, you can reach me at sbuggay (at) gmail (dot) com or on my <a href="https://www.linkedin.com/in/devanbuggay/">linkedin</a>.</p>
</div>