<div id="home">
    <h2>About Me</h2>
    <p>Hello, I'm Devan Buggay. I'm currently working as a software engineer for Microsoft focusing on react/redux, tooling, and
        performance. Before that I worked professionally on iOS apps and .NET applications, with 7 years of industry experience.
        When I'm not programming or reading, you can usually find me playing Counter-Strike or DotA2.</p>
    
    
    <div id="latest">
        <div class="component">
            <a href="/archives">
                <h2>Latest posts</h2>
            </a>
            <%- partial('_partial/archive-list', {count: 5}) %>
        </div>
        <div class="component">
            <a href="/projects">
                <h2>Projects</h2>
            </a>
            <%- partial('_partial/project-list', {count: 5}) %>
        </div>
    </div>

    <hr>
    <h2>
        Contact
    </h2>
    <p>You can reach me at sbuggay (at) gmail (dot) com or on my <a href="https://www.linkedin.com/in/devanbuggay/"">linkedin</a></p>
</div>