<div id="home">
    <h2>About Me</h2>
    <p>Hello, my name is Devan. I currently work at Microsoft. Before that, I worked professionally on iOS apps. I run
        a few game servers (Counter-Strike mostly) that you can check out over on my <a href="/servers">servers</a>
        page.</p>
    <div id="latest">
        <div class="section">
            <h2>Latest posts</h2>
            <%- partial('_partial/archive-list', {count: 5}) %>
        </div>
        <div class="section">
            <h2>Projects</h2>
            <%- partial('_partial/project-list', {count: 5}) %>
        </div>
    </div>
    <h2>
        Contact
    </h2>
    <p>For inquiries, you can reach me at sbuggay (at) gmail (dot) com or on my <a href="https://www.linkedin.com/in/devanbuggay/">linkedin</a>.</p>
</div>