<div id="home">
    <div id="left">

        <%- partial('_partial/archive-list', {count: -1}) %>

    </div>
    <div id="right">
        <div>   
            <img src="/images/avatar.jpg"/>
        </div>
        
        <div>

        <p>
            Hello, my name is Devan. I currently work at Microsoft. Before that, I worked professionally on iOS apps.
        </p>
        <p>
            I run a few game servers (Counter-Strike mostly) that you can check out over on my <a href="/servers">servers page</a>.
        </p>

    
        <ul>
            <li><a href="https://vaclist.net">vaclist.net</a> - Steam VAC account viewer and tracker</li>
            <li><a href="https://github.com/sbuggay/sentry">sentry</a> - server and service monitoring</li>
            <li><a href="https://github.com/sbuggay/srcds-docker">srcds-docker</a> - a CS:GO Docker image</li>
            <li><a href="https://github.com/sbuggay/irxi">irxi</a> - IRC core client</li>
            <li><a href="https://devanbuggay.com/yahn">yahn</a> - Yet Another Hacker News</li>
            <li><a href="https://github.com/sbuggay/rnes">rnes</a> - 6502 emulator in Rust</li>
        </ul>

        <p>
            You can check out more of my projects on my <a href="/projects">projects page</a>.
        </p>

        <p>Contact: <a href="mailto:sbuggay@gmail.com">sbuggay@gmail.com</a></p>

        </div>
    </div>
</div>