<p style="margin-top: 16px;">This is a partial list of select personal projects I have worked on, you can find more projects and experiments on my
  <a href="https://github.com/sbuggay">GitHub</a>. All of them are OSS and
  <a href="https://opensource.org/licenses/MIT">MIT licensed</a>
  so do with them what you wish. Projects with a date marks the last time they were updated and are not being actively worked on. All others are in active development to some degree.</p>
<div id="projects-page">
  <%- partial('_partial/project-list', {count: -1}) %>
</div>
