<h1>Servers</h1>
<div id="servers">
    <div class="server" v-for="(server, index) in servers">
        <div>
        <div>
        {{ server.serverName }}</div>
        <ul>
            <li>status: <span :class="server.status">{{ server.status }}</span></li>
            <li>players: {{ server.numPlayers }}/{{ server.maxPlayers }}</li>
            <li>connect {{ server.ip }}:{{ server.port }}</li>
            <li>map: {{ server.map }}</li>
            <li>game: "{{ server.gameName }}" version {{ server.gameVersion }}</li>
        </ul>
        </div>
        <div>
        <img :src="server.image"></img>
        </div>
    </div>
</div>

<p>This page uses two of my projects: <a>srcds-vue</a> and <a>srcds-info-proxy</a>. I use <a>sentry</a>, another project of mine, to watch and maintain these servers.</p>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
<script>
    servers = <%- JSON.stringify(site.data.data.servers) %>;
</script>
<%- js("js/servers") %>