<h1>Servers</h1>
<div id="servers">
    <div class="server" v-for="(server, index) in servers">
        <div>
        <div><img class="game" :src="server.gameImage"></img> {{ server.serverName }}</div>
            <p>status: <span :class="server.status">{{ server.status }}</span></p>
            <p>players: {{ server.numPlayers }}/{{ server.maxPlayers }}</p>
            <p>map: {{ server.map }}</p>
            <p>game: "{{ server.gameName }}" version {{ server.gameVersion }}</p>
            <p><a :href="server.connect">connect {{ server.ip }}:{{ server.port }}</a></p>
        </div>
        <div class="map">
            <img :src="server.mapImage"></img>
        </div>
    </div>
</div>

<p>This page uses two of my projects: <a>srcds-vue</a> and <a href="https://github.com/sbuggay/srcds-info-proxy">srcds-info-proxy</a>. I use <a>sentry</a>, another project of mine, to watch and maintain these servers.</p>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
<script>
    servers = <%- JSON.stringify(site.data.data.servers) %>;
</script>
<%- js("js/servers") %>