<div>
    <div>
        <div>
            server 1
        </div>
        <div>

        </div>
    </div>
    <div>
        <div>
            server 2
        </div>
        <div>

        </div>
    </div>
    <div>
        <div>
            server 3
        </div>
        <div>

        </div>
    </div>
    <div>
        <div>
            server 4
        </div>
        <div>

        </div>
    </div>
</div>